nav {
    display: none !important;
}

h3 {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    width: 98%;
    color: #5e6c84;
}

h4 {
    margin: 10px 0;
    font-size: 12px;
}

.create-board {
    width: 320px;
    padding: 0 2%;
    height: auto;
    color:#5e6c84;
}

.create-board header {
    display: flex;
    background-color: #fff;
    padding: 3% 10%;
    margin: 0;
}

.close {
    position: absolute;
    right: 11px;
    padding: 1px 4px;
}

hr {
    width: 90%;
    margin: 0 auto;
}

.chooseBG,
.submit {
    margin: 25px 0;
}

.board-bg {
    width: 200px;
    height: 120px;
    display: flex;
    justify-content: center;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 3px;
}
.board-bg img {
    width: 180px;
    height: 120px
}
button.image {
    background-size: cover;
}
ul.images,
ul.colors {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 18px;
}

ul.images button {
    width: 64px;
    height: 40px;
    background-color: mediumorchid;
    border: none;
    border-radius: 3px;
}

ul.colors button {
    width: 40px;
    height: 32px;
    border: none;
    border-radius: 3px;
}

.chooseBG {
    display: flex;
    justify-content: center;
}

input,
select,
button.submit {
    border: 1px solid #5e6c8454;
    padding: 10px;
    border-radius: 3px;
}
button.close {
    background-color: white;
    border: none;
}
.create-board input {
    width: 93%;
    font-size: 16px;
}

.create-board select.user-workspaces, .create-board select.visibility,
button.submit {
    width: 100%;
}
.create-board button.submit:enabled {
    background-color: #0079bf;
    color: #fff;
}
.c1 {
    background-color: #0079bf;
}
.c2 {
    background-color: #d29034;
}
.c3 {
    background-color: #519839;
}
.c4 {
    background-color: #b04632;
}
.c5 {
    background-color: #89609e;
}