<<<<<<< HEAD
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}
=======

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

>>>>>>> d899895f1e62f1c0dcc7ada002a2fff67e61ba5e
