h3 {
  color: #172B4D;
}

.boards {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 16px 0;
  max-width: 825px;
  min-width: 288px;
  width: 100%;
}

.box {
  box-sizing: border-box;
  cursor: pointer;
  width: 23.5%;
  background-color: #0279BF;
  color: white;
  font-weight: bold;
  margin: 0 1% 1% 0;
  padding: 1% 4% 4% 1%;
  border-radius: 3px;
}

.add {
  background-color: rgba(9, 30, 66, 0.0392156863);
  color: grey;
  padding: 6%;
}

.nav-user {
  margin-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0075b9;
  color: white;
}

.nav-logo {
  width: 8px;
  margin: 0 10px 0 10px;
  background-color: white;
  border: 1px solid white;
  border-radius: 1px;
}

.buscar {
  background-color: #6f95ad;
  color: white;
  border-radius: 3px;
  padding: 6px;
  margin: 3px;
  border: none;
  font-size: 15px;
}

.menu {
  background-color: #0075b9;
  color: white;
  border-radius: 3px;
  padding: 6px;
  margin: 3px;
  border: none;
  font-size: 15px;
}

.menu:hover {
  background-color: #00659f;
}

.user {
  background-color: yellow;
  border: none;
  border-radius: 50px;
  color: rgb(6, 6, 66);
  margin-right: 10px;
}

.notificaciones {
  background-color: #00d1f6;
  font-size: 15px;
  padding: 3px 6px 5px 6px;
}

.notificaciones:hover {
  background-color: #00aecc;
}

.crear {
  background-color: #01598c;
}

::placeholder {
  color: white;
  border: none;
}

header {
  margin: 0;
  background-color: #0075b9;
}

.dropdown1 {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  position: absolute;
  left: 93px;
  top: 32px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
  color: black;
  margin: 0;
  padding: 6px;
  z-index: 2;
}

.dropdown2 {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  position: absolute;
  left: 205px;
  top: 32px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
  color: black;
  margin: 0;
  padding: 6px;
}

.dropdown3 {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  position: absolute;
  left: 270px;
  top: 32px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
  color: black;
  margin: 0;
  padding: 6px;
}

.dropdown4 {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  position: absolute;
  left: 337px;
  top: 32px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
  color: black;
  margin: 0;
  padding: 6px;
}

.dropdown5 {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  position: absolute;
  left: 397px;
  top: 32px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
  color: black;
  margin: 0;
  padding: 6px;
}

.dropdown6 {
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  position: absolute;
  right: 33px;
  top: 32px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
  color: black;
  margin: 0;
  padding: 6px;
  width: 150px;
}

.dropdown7 {
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  position: absolute;
  right: 2px;
  top: 32px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
  color: black;
  margin: 0;
  padding: 6px;
  width: 150px;
}

.dropdown8 {
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  position: absolute;
  right: 2px;
  top: 32px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
  color: black;
  margin: 0;
  padding: 6px;
  width: 150px;
}

.title {
  color: rgb(146, 146, 146);
  font-size: 8px;
}

.espacio {
  color: black;
  font-size: 8px;
}

.nav-login {
  margin-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ebebeb;
  color: #0075b9;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-login-logo {
  width: 8px;
  margin: 0 10px 0 10px;
  background-color: #ebebeb;
  border: 1px solid #ebebeb;
  border-radius: 1px;
}

.login-button {
  background-color: #ebebeb;
  color: #0075b9;
  font-weight: bold;
  border-radius: 3px;
  margin: 9px;
  border: none;
  font-size: 15px;
}

a.login-link {
  background-color: #0075b9;
  color: #fcfcfc;
  padding: 13px;
  margin-top: 5px;
  margin-right: 20px;
  border: none;
  font-size: 15px;
  position: absolute;
  top: q0;
}

a.login-link:hover {
  background-color: #009cf6;
  color: #fcfcfc;
}

.info {
  padding-top: 100px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.info .formInfo {
  display: flexbox;
  flex-direction: column;
}

.navPerfil {
  display: flex;
  justify-content: center;
}

.userName {
  width: 550px;
  height: 30px;
  background-color: rgb(241, 240, 255);
}

.bio {
  width: 550px;
  background-color: rgb(241, 240, 255);
  margin-bottom: 20px;
}

.personal {
  width: 750px;
  padding: 25px;
  align-items: center;
  margin: 0 auto;
  background-color: rgb(203, 211, 216);
  font-size: x-large;
}

.ulPerfil {
  list-style-type: none;
}

.liPerfil {
  background-color: rgb(241, 240, 255);
  float: left;
  text-align: center;
  width: 25em;
}

.liPerfil a {
  color: rgb(118, 15, 144);
  font-weight: 800;
  font-size: xx-large;
}

.btnInfo {
  width: 550px;
  height: 30px;
  margin-bottom: 20px;
}

.h1Info {
  width: 620px;
  padding: 20px;
  align-items: center;
  margin: 0 auto;
  font-size: xx-large;
}

.pName {
  font-size: x-large;
  color: rgb(96, 8, 118);
  margin-bottom: 10px;
}

.pBio {
  font-size: x-large;
  color: rgb(96, 8, 118);
  margin-bottom: 10px;
}

.pAce {
  font-size: xx-large;
  margin-bottom: 10px;
  margin-top: 10px;
}

.hr {
  margin: 0 auto;
  width: 650px;
  margin-bottom: 30px;
}

.imgPerfil {
  width: 550px;
  height: 120px;
  padding-top: 20px;
}

.config {
  padding-top: 100px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.divCuenta {
  padding-top: 150px;
  width: 550px;
  padding: 20px;
  align-items: center;
  margin: 0 auto;
  font-size: x-large;
  display: flexbox;
  justify-content: space-between;
}

.detCuenta {
  margin-top: 100px;
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.asideHome {
  display: flex;
  flex-flow: column wrap;
  width: 200px;
  margin-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 200px;
}

.asideHome ul {
  display: flex;
  flex-flow: column wrap;
  list-style: none;
  width: 100%;
}

.asideHome ul li {
  width: 100%;
  margin-bottom: 4px;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.asideHome ul:first-child li:last-child {
  padding-bottom: 10px;
  border-bottom: 1.5px solid #E1E1E2;
}

.asideHome ul li a {
  text-decoration: none;
  color: #172B4D;
}

.addWorkSpaceLi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.addWorkSpaceLi span {
  font-weight: 500;
  color: #5E6C84;
  font-size: 13px;
  margin-left: 0px;
}

.addWorkSpaceLi .addWorkSpaceButton {
  margin-right: 0px;
  background-color: white;
  border: 0px;
  font-size: 25px;
  color: #5E6C84;
}

.addWorkSpaceModal {
  display: flex;
  position: absolute;
  background-color: white;
  flex-flow: row wrap;
  width: 95%;
  align-self: center;
  top: 50px;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.addWorkSpaceForm {
  display: flex;
  flex-flow: column wrap;
  width: 50%;
}

.addWorkSpaceDeco {
  display: flex;
  flex-flow: column wrap;
  width: 50%;
  background-color: #E4F7FA;
}

.addWorkSpaceModal form {
  display: flex;
  flex-flow: column wrap;
  padding: 10px 50px;
}

.addWorkSpaceModal h2 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 23px;
}

.addWorkSpaceModal h4 {
  margin-bottom: 30px;
  color: #6B778C;
  text-align: justify;
  font-size: 17px;
  font-weight: 500;
}

.home {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.board {
  background-color: #da9d48;
}

.asideBoard {
  height: 100%;
}

.invisibleAside {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.137);
  width: 20px;
  height: 95.2vh;
  transition: 300ms all;
  border: 0px;
  border-right: 0.5px solid rgba(255, 255, 255, 0.301);
}

.invisibleAside:hover {
  background-color: rgba(195, 195, 195, 0.392);
}

.invisibleAside:hover button {
  background-color: rgba(195, 195, 195, 0.392);
}

.invisibleAside button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.137);
  border: 0.5px solid rgba(255, 255, 255, 0.395);
  width: 28px;
  height: 28px;
  margin-top: 15px;
  margin-left: 6px;
  border-radius: 999px;
  font-weight: bold;
  color: white;
  transition: 300ms all;
}

.visibleAside {
  display: flex;
  flex-direction: column;
  background-color: rgba(54, 54, 54, 0.14);
  width: 250px;
  height: 95.2vh;
  transition: 300ms all;
  border: 0px;
  border-right: 0.5px solid rgba(255, 255, 255, 0.301);
  color: white;
}

.visibleAside .asideHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.219);
  padding: 12px 16px;
}

.visibleAside .asideHeader h2 {
  font-size: 14px;
}

.visibleAside .asideHeader button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0px;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.visibleAside .asideHeader button:hover {
  background-color: rgba(255, 255, 255, 0.248);
}

.visibleAside .asideOptions ul {
  margin-top: 10px;
}

.visibleAside .asideOptions ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
}

.visibleAside .asideOptions ul li:hover {
  background-color: rgba(255, 255, 255, 0.248);
}

.visibleAside .asideOptions ul li .asideIcon {
  margin-right: 10px;
}

.visibleAside .asideOptions ul li:nth-child(2) button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}

.visibleAside .asideOptions ul li:nth-child(2) button:hover {
  background-color: rgba(90, 90, 90, 0.352);
}

.visibleAside .asideOptions ul li:nth-child(2) {
  justify-content: space-between;
}

.visibleAside .asideOptions ul li:nth-child(3) {
  justify-content: space-between;
}

.modalAddMember {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 95.2vh;
  background-color: rgba(103, 103, 103, 0.518);
  color: #172B4D;
}

.modalAddMember .form {
  background-color: white;
  border-radius: 5px;
  color: #172B4D;
  width: 600px;
  height: 160px;
  padding: 20px;
}

.modalAddMember .form h2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  font-weight: 400;
}

.modalAddMember .form button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 5px;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}

.modalAddMember .form .inputContainer {
  border: 1.5px solid #0079BF;
  box-shadow: 0px 0px 1px 1px #0079BF inset;
  padding: 5px 10px;
  border-radius: 3px;
}

.modalAddMember .form input {
  color: #172B4D;
  border: 0px;
  width: 90%;
}

.modalAddMember .form input::placeholder {
  color: rgba(23, 43, 77, 0.6235294118);
}

.modalAddMember .form input:focus {
  outline: none;
}

.modalSelectConfig {
  position: absolute;
  color: #172B4D;
  background-color: white;
  border-radius: 3px;
  margin-left: 220px;
  padding: 15px 0px;
  top: 220px;
  width: 350px;
}

.modalSelectConfig ul li {
  padding: 5px 10px;
  cursor: pointer;
}

.modalSelectConfig ul li:hover {
  background-color: rgba(143, 143, 143, 0.345);
}

.modalShowUsers {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  border: 0.5px solid #DCDEE4;
  box-shadow: 0px 0px 0.5px 0.5px #DCDEE4;
  color: #7A869A;
  padding: 20px;
  margin-top: 15px;
  width: 93%;
}

/*# sourceMappingURL=styles.css.map */
