.info {
    padding-top: 100px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  
  
  }
  
  
  .info .formInfo {
    display: flexbox;
    flex-direction: column;
  }
  
  
  .navPerfil{
    display: flex;
    justify-content: center;
    padding-top: 150px;
  }
  
  
  .userName{
    width: 500px;
    height: 30px;
    background-color: rgb(241, 240, 255);
  }
  
  .bio{
    width: 500px;
    background-color: rgb(241, 240, 255);
    margin-bottom: 20px;
  }
  
  .personal{
    width: 620px;
    padding: 20px;
    align-items: center;
    margin: 0 auto;
    background-color:rgb(203, 211, 216);
    font-size: x-large;
  }
  
  .ulPerfil {
    list-style-type: none;
    
  }
  
  .liPerfil {
    background-color: rgb(241, 240, 255);
    float: left;
    text-align: center;
    width: 25em;
  }
  
  .liPerfil a{
    color: rgb(118, 15, 144);
    font-weight: 800;
    font-size: xx-large;
  }
  
  
  .btnInfo{
    width: 500px;
    height: 30px;
    margin-bottom: 20px;
  }
  
  .h1Info{
    width: 620px;
    padding: 20px;
    align-items: center;
    margin: 0 auto;
    font-size: xx-large;
  
  }
  
  .pName{
    font-size:x-large;
    color: rgb(96, 8, 118);
  }
  
  .pBio{
    font-size:x-large;
    color: rgb(96, 8, 118);
  }
  
  .pAce{
    font-size: xx-large;
  }
  
  .hr{
    margin: 0 auto;
    width: 650px;
  }