@use 'styles';
h3 {
    color: #172B4D;
}
.boards {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 16px 0;
    max-width: 825px;
    min-width: 288px;
    width: 100%;
}
.box { 
    box-sizing: border-box;
    cursor: pointer;
    width: 23.5%;
    background-color: #0279BF;
    color: white;
    font-weight: bold;
    margin: 0 1% 1% 0;
    padding: 1% 4% 4% 1%;
    border-radius: 3px;
}
.add {
    background-color: #091e420a;
    color: grey;
    padding: 6%;   
}